:root {
  --primary: #E43D40;
  --secondary: #474440;
  --tertiary: #EEEDE7;
  --error: #FF7077;

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}


/* nav */
a {
  color: var(--tertiary);
}

nav a:hover {
  text-decoration: none;
}

.navActive {
  color: pink;
}


/* spacing & flex */
.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}


/* header */
header {
  background-color: var(--primary);
}

/* body */
body {
  background-color: var(--tertiary);
}

li {
  list-style: none;
}

/* footer */
footer {
  background-color: var(--secondary);
}


/* about   */

/* contact */
p.error-text {
  color: var(--error);
}

/* portfolio */

/* resume */