:root {
  --primary: #E43D40;
  --secondary: #474440;
  --tertiary: #EEEDE7;
  --error: #FF7077;

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

/* nav */
a {
  color: var(--tertiary);
}

nav a:hover {
  text-decoration: none;
}

.nav-active {
  color: var(--secondary);
}

/* spacing & flex */
.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}


/* header */
header {
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}

/* body */
body {
  background-color: var(--tertiary);
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-shadow: 1px 1px var(--secondary);
  color: var(--tertiary)
}

a:hover {
  opacity: 70%;
}

/* footer */
footer {
  background-color: var(--secondary);
  border-top: 1px solid black;

  justify-content: end;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
}

footer nav {
  margin-right: 5%;
}


/* about   */
#about-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 1px #474440;
  background: hsla(0, 0%, 97%, .5);

  margin-top: 0;
  padding: 10px;
}

#hero {
  justify-content: center;
  display: flex;
  height: 505px;
  padding: 75px;

  background: url(./assets/cover/cover-image.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-text {
  line-height: 1.5;
  font-size: 20px;
  margin-left: 6%;
  margin-right: 6%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-block {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 6%;
  margin-top: 2%;
  padding: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* contact */
.card {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.form-block {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 40%;
}

.contact-title {
  background-color: var(--secondary);
  color: var(--tertiary);
  margin-top: 0;
  padding: 20px;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid black;
}

form {
  margin: 30px;
}

.form-input {
  margin-bottom: 10px;
  width: 100%;
}

p.error-text {
  color: var(--error);
}

/* portfolio */
.portfolioBlock {
  background: white;
  box-shadow: 0 0 10px var(--secondary);

  border-radius: 5px;
  margin: 50px auto;
  padding: 30px;
  width: 43%;
  margin-bottom: 15px;
}

.portfolioBlock p {
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.live-image img {
  border-radius: 5%;
  box-shadow: 3px 2px 10px var(--secondary);
}

.img-thumbnail {
  width: 90%;
  margin-bottom: 15px;
  cursor: pointer;
}

.live-repos {
  width: 50%;
  text-align: right;
  position: relative;
  left: 50%;
}

.live-repos a {
  color: var(--secondary);
  text-shadow: .5px .5px black;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* resume */

#resume {
  font-weight: 600;
  margin-bottom: 25px;
  padding-top: 0px;
  color: black;
  text-shadow: grey 1px 1px;
}

#dev-pro {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
}

#download {
  background-color: var(--primary);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 2px var(--secondary);

}

.resume-images {
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#download-resume{
  display: flex;
  justify-content: end;
  margin-right: 30px;
}